body{
    background: rgb(253, 1, 228);
}

p{
    width: 50%;
    text-align: justify;
}

div{
    margin: 2px;
}

.click, .dblclick, .mouseenter, .mouseleave, .contextmenu, .mousedown, .mouseup, .mousemove{
    border: 2px solid black;
}
